* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --max-size: 960px;
    --box-size: 60px;
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--max-size);
}

.square {
    width: var(--box-size);
    height: var(--box-size);
    border: black solid 2px;
}

button {
    font-size: 40px;
    width: 400px;
    height: 60px;
}